@import "tailwindcss";
/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */

@theme {
  --breakpoint-s: 350px;
  --breakpoint-one1: 480px;
  --breakpoint-one: 530px;
  --breakpoint-desk: 770px;
  --breakpoint-desk1: 990px;
  --breakpoint-uc: 1000px;
  --breakpoint-yanyana: 1200px;
  --color-body: #f2f2f2;
  --color-or: #ff8300
}


